<div class="row">
  <div class="col-md-6">
    <h3><a href="https://docs.google.com/presentation/d/1jS5yMga1CQcF1NSNmehzpEschPeX30TbVjoikpAfc5s/edit?usp=sharing">Day 1</a></h3>
    <table class="table table-striped">
      <tr>
        <td>Before starting</td>
        <td><a href="#setup">Complete Setup (see below)</a></td>
      </tr>
      <tr>
        <td>08:30</td>
        <td>Welcome and Opening of the workshop</td>
        </tr>
      <tr>
        <td>09:30</td>
        <td><b>Data Access from OBIS</b>
          <li><a href="https://www.youtube.com/watch?v=9PSPEtqgjUI&amp;list=PLlgUwSvpCFS4TS7ZN0fhBy
j_3EBZ5lXbF&amp;index=11">[OBIS data from the Mapper and Portal]</a></li>
          <li><a href="https://www.youtube.com/watch?v=8Ep4fGICQWU&amp;list=PLlgUwSvpCFS4TS7ZN0fh
Byj_3EBZ5lXbF&amp;index=12">[OBIS data with R]</a></li>
        </td>
      </tr>
      <tr>
        <td>10:30</td>
        <td>COFFEE BREAK</td>
        </tr>
      <tr>
        <td>11:00</td>
        <td><b>Data Access from OBIS</b>
          <li><a href="https://www.youtube.com/watch?v=Hocr3N6zpH0&amp;list=PLlgUwSvpCFS4TS7ZN0fhB
yj_3EBZ5lXbF&amp;index=13">[the OBIS API]</a></li>
          <li><a href="https://manual.obis.org/access.html">[OBIS Manual on Access]</a></li>
          <li><a href="https://manual.obis.org/ipt.html">[OBIS Manual on IPT]</a></li>
        </td>
      </tr>
      <tr>
        <td>12:45</td>
        <td>LUNCH</td>
        </tr>
      <tr>
        <td>14:00</td>
        <td><b>Introduction to data standards and formatting</b>
          <li><a href="https://manual.obis.org/darwin_core.html">[OBIS Manual DwC]</a></li>
          <li><a href="https://www.youtube.com/watch?v=LKujcxk7DQo&amp;list=PLlgUwSvpCFS7w1Yj43J
al5X7FgVbT7Met&amp;index=10">[Intro DwC: More Than The Sum Of Its Parts]</a></li>
        </td>
      </tr>
      <tr>
        <td>15:45</td>
        <td>COFFEE BREAK</td>
        </tr>
      <tr>
        <td>16:10</td>
        <td><b>Planning for your data collection</b>
          <li><a href="https://www.youtube.com/watch?v=mmD-EYNOrFA&list=PLlgUwSvpCFS7w1Yj43Jal5X7FgVbT7Met&index=5 ">[Data life cycle]</a></li>
        </td>
        </tr>
      <tr>
        <td>17:30</td>
        <td>Adjourn</td>
        </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>
        <td>09:00-15:30</td>
        <td><b>Fieldwork</b>
          <li>Meet at hotel 09:00.</li>
          <li>Depart for rocky shore 09:15.</li>
          <li>Return 15:00.</li>
          <li>Conclude 15:30.</li>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3><a href="https://docs.google.com/presentation/d/1yAQYbZr2e5XlMaAwZD0ZqHzeZc6xhi9hMXhHOtNuZRI/edit?usp=sharing">Day 3</a></h3>
    <table class="table table-striped">
      <tr>
        <td>09:00</td>
        <td>Photoquadrant processing</td>
      </tr>
      <tr>
        <td>10:30</td>
        <td>COFFEE BREAK</td>
      </tr>
      <tr>
        <td>11:00</td>
        <td>Photoquadrant processing</td>
      </tr>
      <tr>
        <td>12:45</td>
        <td>LUNCH</td>
      </tr>
      <tr>
        <td>13:55</td>
        <td>Photoquadrant processing</td>
      </tr>
      <tr>
        <td>15:00</td>
        <td>COFFEE BREAK</td>
      </tr>
      <tr>
        <td>15:30</td>
        <td>Photoquadrant processing</td>
      </tr>
      <tr>
        <td>17:30</td>
        <td>Adjourn</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3><a href="https://docs.google.com/presentation/d/1vSNXxj5fS3PNZTxQKDXyA-mcfRSkPQvepK5wFcwHjE4/edit?usp=sharing">Day 4</a></h3>
    <table class="table table-striped">
      <tr>
        <td>08:30</td>
        <td>Photoquadrant processing</td>
        </tr>
      <tr>
        <td>10:30</td>
        <td>COFFEE BREAK</td>
        </tr>
      <tr>
        <td>11:00</td>
        <td><b>Dataset curation and processing</b>
          <li><a href="https://manual.obis.org/data_qc.html">[OBIS Manual on QC]</a></li>
          <li><a href="https://manual.obis.org/lifewatch_qc.html">[OBIS Manual on GeoSpatial QC]</a></li>
        </td>
        </tr>
      <tr>
        <td>12:30</td>
        <td>LUNCH</td>
        </tr>
      <tr>
        <td>13:30</td>
        <td><b>Dataset curation and processing</b>
          <li><a href="https://www.youtube.com/watch?v=G_AmAmS7ILc&list=PLlgUwSvpCFS4TS7ZN0fhByj_3EBZ5lXbF&index=5 ">[DwC Occurrence Table]</a></li>
          <li><a href="https://www.youtube.com/watch?v=jyy6QO_p7v8&list=PLlgUwSvpCFS4TS7ZN0fhByj_3EBZ5lXbF&index=4 ">[DwC Event Table]</a></li>
          <li><a href="https://www.youtube.com/watch?v=EjM0HRrF1B4&list=PLlgUwSvpCFS4TS7ZN0fhByj_3EBZ5lXbF&index=6">[DwC Measurment or Facts]</a></li>
        </td>
      </tr>
      <tr>
        <td>15:00</td>
        <td>COFFEE BREAK</td>
        </tr>
      <tr>
        <td>15:30</td>
        <td><b>Dataset curation and processing</b>
          <li><a href="https://www.youtube.com/watch?v=jJ8nlMlg-cY&t=3s">[WoRMS ID Taxon Match Tool]</a></li>
          <li><a href="https://www.youtube.com/watch?v=yZKwtr14JVM&t=98s">[WoRMS ID Ambiguity]</a></li>
          <li><a href="https://www.youtube.com/watch?v=-vIkS8U7Crk">[WoRMS ID Synonyms]</a></li>
          <li><a href="https://www.youtube.com/watch?v=sNzipC6-r90&list=PLlgUwSvpCFS4TS7ZN0fhByj_3EBZ5lXbF&index=8">[QC Checks with R]</a></li>
          <li><a href="https://manual.obis.org/dna_data.html
https://www.youtube.com/watch?v=FO9sPtB47r0&amp;list=PLlgUwSvpCFS7w1Yj43Jal5X7F
gVbT7Met&amp;index=16">[OBIS & eDNA (video)]</a></li>
          <li><a href="https://manual.obis.org/data_format.html">[OBIS Manual on eDNA]</a></li>
          <li><a href="https://gbif.github.io/dwc-dp/#darwin-core-data-package-dwc-dp-publishing-model">[Latest Archive Structure Proposal]</a></li>
        </td>
      </tr>



      

      
      <tr>
        <td>17:30</td>
        <td>Adjourn</td>
        </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3><a href="https://docs.google.com/presentation/d/1udf52aWTypbKPt3YVDBGCP7qJT1kODCaf_OG55vvYmc/edit?usp=sharing">Day 5</a></h3>
    <table class="table table-striped">
      <tr>
        <td>08:30</td>
        <td><b>Publishing your data in OBIS</b>
          <li><a href="https://manual.obis.org/data_publication.html">[OBIS Manual on Publication]</a></li>
          <li><a href="https://manual.obis.org/ipt.html">[OBIS Manual on IPT]</a></li>
          <li><a href="https://www.youtube.com/watch?v=HciufRG9hiI&t=3s">[Intro to OBIS Nodes]</a></li>
        </td>
      </tr>
      <tr>
        <td>10:30</td>
        <td>COFFEE BREAK</td>
        </tr>
      <tr>
        <td>11:00</td>
        <td>Publishing your data in OBIS</td>
        </tr>
      <tr>
        <td>12:30</td>
        <td>LUNCH</td>
        </tr>
      <tr>
        <td>13:30</td>
        <td>CONCLUSIONS AND CLOSURE</td>
        </tr>
      <tr>
        <td>14:30</td>
        <td>End</td>
      </tr>
    </table>
  </div>
</div>
